body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
  }
  .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  .toolbar {
    background-color: #333;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu {
    background-color: #333;
    color: white;
    width: 150px;
    position: absolute;
    top: 70px;
    left: -160px;
    transition: left 0.3s ease;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    padding: 10px;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
  }
  
  .menu ul li a:hover {
    text-decoration: underline;
  }  

  .error-message {
    color: rgb(240, 100, 100);
    text-align: center;
    position: fixed; /* Menggunakan fixed agar elemen tetap terlihat di tengah layar */
    top: 70%; /* Menempatkan elemen pada setengah tinggi layar */
    left: 50%; /* Menempatkan elemen pada setengah lebar layar */
    transform: translate(-50%, -50%); /* Menggeser elemen ke tengah untuk memastikan posisi yang tepat */
    
}